In [9]:
import numpy as np 
import pandas as pd 

df = pd.read_csv('ulabox_orders_with_categories_partials_2017.csv')
print(df)

       customer  order  total_items  discount%  weekday  hour  Food%  Fresh%  \
0             0      0           45      23.03        4    13   9.46   87.06
1             0      1           38       1.22        5    13  15.87   75.80
2             0      2           51      18.08        4    13  16.88   56.75
3             1      3           57      16.51        1    12  28.81   35.99
4             1      4           53      18.31        2    11  24.13   60.38
...         ...    ...          ...        ...      ...   ...    ...     ...
29995     10235  29995            4       0.00        5    10   5.80    0.00
29996     10236  29996            1       0.00        7    21   0.00    0.00
29997     10237  29997           54       0.00        4    17   9.25    0.00
29998     10237  29998           10       0.00        5    10   0.00    0.00
29999     10238  29999            2       0.00        4    17   0.00    0.00

       Drinks%  Home%  Beauty%  Health%  Baby%  Pets%
0         3.48   0.00     0.00     0.00    0.0    0.0
1         6.22   2.12     0.00     0.00    0.0    0.0
2         3.37  16.48     6.53     0.00    0.0    0.0
3        11.78   4.62     2.87    15.92    0.0    0.0
4         7.78   7.72     0.00     0.00    0.0    0.0
...        ...    ...      ...      ...    ...    ...
29995    51.30   0.00     0.00     0.00    0.0   42.9
29996     0.00   0.00   100.00     0.00    0.0    0.0
29997    77.48  13.27     0.00     0.00    0.0    0.0
29998   100.00   0.00     0.00     0.00    0.0    0.0
29999     0.00   0.00     0.00     0.00  100.0    0.0

[30000 rows x 14 columns]

In [10]:
shape = df.shape
print('Filas: ', shape[0], 'Columnas: ', shape[1])
print()

#Tipos de datos 
print('Tipos de datos: ')
print(df.dtypes)

Filas:  30000 Columnas:  14

Tipos de datos:
customer         int64
order            int64
total_items      int64
discount%      float64
weekday          int64
hour             int64
Food%          float64
Fresh%         float64
Drinks%        float64
Home%          float64
Beauty%        float64
Health%        float64
Baby%          float64
Pets%          float64
dtype: object

In [12]:
#Analisis de variables y rangos
print(''' Analisis de variables:
discount -> porcentaje de descuento
Food  -> porcentaje de comida
Fresh -> porcentaje de frescura de los alimentos
Drinks -> porcentaje de bebidas
Health -> porcentaje de salud\n ''')

#Valores maximos y minimos
print('Maximos y Minimos')
df.describe().round(2)

 Analisis de variables:
discount -> porcentaje de descuento
Food  -> porcentaje de comida
Fresh -> porcentaje de frescura de los alimentos
Drinks -> porcentaje de bebidas
Health -> porcentaje de salud

Maximos y Minimos

,customer,order,total_items,discount%,weekday,hour,Food%,Fresh%,Drinks%,Home%,Beauty%,Health%,Baby%,Pets%
count,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00,30000.00
mean,5012.48,14999.50,31.74,8.46,3.64,15.03,23.56,20.23,23.35,13.54,5.89,1.13,11.10,1.04
std,2888.65,8660.40,20.58,14.20,2.12,5.72,21.72,23.66,22.52,17.85,14.00,5.31,24.74,6.20
min,0.00,0.00,1.00,-65.15,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,2541.75,7499.75,18.00,1.18,2.00,11.00,7.22,0.00,6.71,0.00,0.00,0.00,0.00,0.00
50%,5043.00,14999.50,29.00,4.16,3.00,15.00,19.65,10.93,17.89,7.21,0.00,0.00,0.00,0.00
75%,7483.00,22499.25,41.00,9.99,5.00,20.00,33.26,35.79,33.16,20.00,6.51,0.00,4.17,0.00
max,10238.00,29999.00,298.00,100.00,7.00,23.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00